OPENROUTER_API_KEY=
DIRECT_DATABASE_URL=
REDIS_URL=

//DATABASE_URL pooled for runtime, DIRECT_DATABASE_URL unpooled for migrations

# Upstash Redis Configuration
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
